#navbar{
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}

#portada{
    background-image: url(../img/portada.jpg);
    height: 100vh;
    width: 100%;
}

.item{
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

.item:hover{
    color: #DAA520;
    text-decoration: none;
}

.tittle{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    margin: 8px;
}

body{
    background-color: #e5e5e5;
}

#explorar{
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: #DAA520;
    color: #000000;
    border
}