#navbar{
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}

#portada{
    background: url(img/portada.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}

.item{
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

.item:hover{
    color: #DAA520;
    text-decoration: none;
}

.tittle{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    margin: 8px;
}

body{
    background-color: #E5E5E5;
}

