#navbar{
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}

/*#portada{
    background-image: url(../img/portada.jpg);
    height: 100vh;
    width: 100%;
}*/

#finder{
    height: 40px;
    text-align: center;
    border-radius: 8px;
    margin: 15px;
    margin-top: 0;
    width: 60vw;
}

#productos-container{
    text-align: center;
}

.item{
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

.item:hover{
    color: #DAA520;
    text-decoration: none;
}

.tittle{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    margin: 8px;
}

body{
    background-color: #e5e5e5;
}

#map{
    text-align: center;
}

#footer-text{
    color: #000000;
}

#bar{
    color:#ffffff;
}

.img-producto{
    width: 352.44px;
    height: 352.44px;
}

.loginText{
    color: white;
    font-family: monospace;
    justify-self: center;
    align-self: center;
}

.LogCar{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    padding-left: 40px;
}

#navbarResponsive{
    padding-left: 200px !important;
    padding-right: 200px !important;
}
#my-form-status{
    text-align: center;
    padding: 5px;
    margin: 11px auto;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
}
#my-form-status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
    max-width: 259px;
  }
#my-form-status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
    max-width: 500px;
  }
  @keyframes my-form-status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
